body {
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align:center;
}
td {
    padding: 0px 0px 10px 0px;
}
input {
    border: 1px solid #333;
}
#contentWrapper {
    width: 700px;
    margin: 0px auto;
}
#leftCol {
    float: left;
    width: 330px;
    margin: 0px 20px 0px 0px;
    border: 1px solid #555;
    height: 288px;
}
#rightCol {
    float:right;
    width: 330px;
}
.header {
    text-align:center;
    padding: 8px;
    border-bottom: 1px solid #555;
}
.box {
    border:1px solid #555; 
    margin-bottom: 20px;
}
#form, #chargesContent, #earningsContent {
    font-size: 14px;
    padding: 10px;
}

input[name="baseMealPrice"]{
    width: 110px
}

input[name="taxRate"] {
    width: 50px;
}
input[name="tipPercentage"] {
    width: 50px;
}
#buttonWrapper{
    margin: 40px 0px 40px 0px;
    text-align: center;
}
#chargesContent, #earningsContent{
    width: 100%;
}
.clearFloat {
    clear: both;
}
#resetbtn{
    text-align: right;
}
.errMsg {
    font-size: 10px;
    color: red;
    padding:0px 0px 0px 16px
}