body {
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
    position:relative;
    min-height:100%;
}
h1{
    text-align:center;
}
p {
    margin: 25px 25px 12px 25px;   
}
td {
    padding: 0px 0px 10px 0px;
}
input {
    border: 1px solid #333;
}
#contentWrapper {
    width: 700px;
    margin: 0px auto;
}
#leftCol {
    float: left;
    width: 330px;
    margin: 0px 20px 0px 0px;
    border: 1px solid #555;
    height: 288px;
}
#rightCol {
    float:right;
    width: 330px;
}
.header {
    text-align:center;
    padding: 8px;
    border-bottom: 1px solid #555;
}
.box {
    border:1px solid #555; 
    margin-bottom: 20px;
}
#form, #chargesContent, #earningsContent {
    font-size: 14px;
    padding: 10px;
}

input[name="baseMealPrice"]{
    width: 110px
}

input[name="taxRate"] {
    width: 50px;
}
input[name="tipPercentage"] {
    width: 50px;
}
#buttonWrapper{
    margin: 40px 0px 40px 0px;
    text-align: center;
}
#chargesContent, #earningsContent{
    width: 100%;
}
.clearFloat {
    clear: both;
}
#resetbtn{
    text-align: right;
}
.errMsg {
    font-size: 10px;
    color: red;
    padding:0px 0px 0px 16px
}

#content{
    width: 600px;
    margin: 0px auto;
}

/* ######################################################## */

.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('../images/loading-animation.gif');
}
.ng-enter-stagger {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter {
    opacity:0;
    top: -500px;
}
.animate-view.ng-enter.ng-enter-active {
    opacity:1;
    top: 0px;
}
.animate-view.ng-leave {
    opacity:1;
    top: 0px;;
}
.animate-view.ng-leave.ng-leave-active {
    opacity:0;
    top: -500px;
}









